@import "./variables";

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;

  .logo {
    font-weight: 800;
    font-size: 1.75rem;
    color: $primary-color;
  }
}
