.calculator {
  display: grid;
  width: 80%;
  max-width: 600px;
  min-width: 350px;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  background-color: #d1d1d1;

  .span-4 {
    grid-column: 1 / span 4;
  }

  .span-2 {
    grid-column: 1 / span 2;
  }

  .button,
  .display {
    padding: 2rem;
  }

  .display {
    background-color: #858694;
    border: none;
  }

  .button {
    box-shadow: 1px 1px 1px 0 rgba($color: #000, $alpha: 0.1);
    border: 1px solid #00000010;
    cursor: pointer;
  }

  .grey {
    background-color: #e0e0e0;
  }

  .orange {
    background-color: #f5913e;
  }
}
